
body {
	background:#E0E0FF;
	background-image:url('images/cabinet.png');
	background-repeat:no-repeat;
	background-position:right top;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

#tabs {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #666;
	margin-bottom:1em; /*margin between menu and rest of page*/
	overflow:hidden;
}

#tabs ul {
	margin:0;
	padding:10px 10px 0 0px;
	list-style:none;
}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
}

#tabs a {
	float:left;
	background:url(images/tab_left.png) no-repeat left top;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
}

#tabs a span {
	float:left;
	display:block;
	background:url(images/tab_right.png) no-repeat right top;
	padding:6px 15px 4px 6px;
	margin-right:2px;
	color:#FFF;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */

#tabs a:hover span {
}

#tabs a:hover {
	background-position:0% -42px;
}

#tabs a:hover span {
	background-position:100% -42px;
}

.begin_hidden_css {
    display: none;
}

div.main {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #AAAAEE;
    padding: 1em;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.toggle_panel_top, .toggle_panel_bottom {
    background: #B0B0FF;
    border: 3px solid #8888EE;
    padding: 1ex;
}

.toggle_panel_top {
    -webkit-border-top-right-radius: 1ex;
    -webkit-border-top-left-radius: 1ex;
    -moz-border-radius-topright: 1ex;
    -moz-border-radius-topleft: 1ex;
    border-top-right-radius: 1ex;
    border-top-left-radius: 1ex;
    font-weight: bold;
}
.toggle_panel_top:hover {
    background:#C0C0FF;
}

.toggle_panel_bottom {
    border-top: 0px;
    -webkit-border-bottom-right-radius: 1ex;
    -webkit-border-bottom-left-radius: 1ex;
    -moz-border-radius-bottomright: 1ex;
    -moz-border-radius-bottomleft: 1ex;
    border-bottom-right-radius: 1ex;
    border-bottom-left-radius: 1ex;
}

h1 {
    float: left;
}

div#info {
    float: left;
    margin: 3em;
}

div.reduced_margin {
    padding: 1ex;
}

div.main_toggle_panel div.toggle_panel_top:first-child {
    -webkit-border-bottom-right-radius: 1ex;
    -webkit-border-bottom-left-radius: 1ex;
    -moz-border-radius-bottomright: 1ex;
    -moz-border-radius-bottomleft: 1ex;
    border-bottom-right-radius: 1ex;
    border-bottom-left-radius: 1ex;
    margin-bottom: 1ex;
}

div.reduced_margin div.toggle_panel_top:first-child {
    margin-bottom: 0px;
}

div#login_panel {
    clear: left;
}

#breadcrumbs {
    clear: left;
}

#labels {
    clear: left;
}

#login_content #register_title {
    margin-top: 1ex;
}
	
#labels {
    margin-right: 2em;
}

#foot {
    clear: both;
}

td.common_label {
    font-weight: bold;
}

table#upload th, td {
    padding-right: 1em;
}

.added {
    background-color: green;
}

div#files div.toggle_panel_top {
    margin-top: 1ex;
}

div#files div.toggle_panel_top:first-child {
    margin-top: 0px;
}

.ui-autocomplete-loading {
    background: white url('images/ajax-loader.gif') right center no-repeat;
}

div.loading {
    background: url('images/ajax-loader.gif') center center no-repeat;
}

.button {
    display: block;
    max-width: 8em;
    padding: 1ex;
    margin-bottom: 1ex;
    text-decoration: none;
    font-weight: bold;
    background-color: #D0D0FF;
    /* gradient top to bottom */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddddff', endColorstr='#bbbbee'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ddf), to(#bbe)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ddf,  #bbe); /* for firefox 3.6+ */
    /* rounded borders */
    border: 1px solid #5555AA;
    -webkit-border-radius: 1ex;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
    /* drop shadow */
    box-shadow:4px 4px 4px #337;
    -moz-box-shadow:4px 4px 4px #337;
    -webkit-box-shadow:4px 4px 4px #337;
}
.button:hover {
    background-color: #EEEEFF;
    /* gradient top to bottom */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeff', endColorstr='#ddddff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#eef), to(#ddf)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #eef,  #ddf); /* for firefox 3.6+ */
    /* drop shadow */
    box-shadow:5px 5px 3px #337;
    -moz-box-shadow:5px 5px 3px #337;
    -webkit-box-shadow:5px 5px 3px #337;
}

#add_to_cabinet {
    clear: left;
    margin-left: auto;
}
