
body {
	background:#E0E0FF;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

#tabs {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #666;
	margin-bottom:1em; /*margin between menu and rest of page*/
	overflow:hidden;
}

#tabs ul {
	margin:0;
	padding:10px 10px 0 0px;
	list-style:none;
}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
}

#tabs a {
	float:left;
	background:url(images/tab_left.png) no-repeat left top;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
}

#tabs a span {
	float:left;
	display:block;
	background:url(images/tab_right.png) no-repeat right top;
	padding:6px 15px 4px 6px;
	margin-right:2px;
	color:#FFF;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */

#tabs a:hover span {
}

#tabs a:hover {
	background-position:0% -42px;
}

#tabs a:hover span {
	background-position:100% -42px;
}
	
#breadcrumbs {
    clear:both;
    margin-bottom:1em;
}
	
#labels {
    float:left;
    margin-right:2em;
}
	
#files {
    float:left;
}

td.common_label {
    font-weight:bold;
}

table#upload th, td {
    padding-right:1em;
}

div#breadcrumbs, div#labels, div#files {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background:#AAAAEE;
    padding:1em;
}

